<div class="row mb-3 text-center">
  <div class="col-2">
    <%= form.label "Código", style: "display: block"%>
  </div>
  <div class="col-10">
    <%= form.text_field :code, class: "form-control"%>
  </div>
</div>
<div class="row mb-3 text-center">
  <div class="col-2">
    <%= form.label "Nombre", style: "display: block"%>
  </div>
  <div class="col-10">
    <%= form.text_field :name, class: "form-control"%>
  </div>
</div>
