<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <h1 class="text-center"> Page Name</h1>
    </div>
  </div>
  <div class="container text-center bg-primary text-white bg-opacity-75 p-5">
    <div class="row">
      <div class="col">
        <span>Buscar</span>
      </div>
      <div class="col">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
