<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <h1 class="text-center">Projectos</h1>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div id="investigators">
      <%= render 'project_table', projects: @projects %>
    </div>
  </div>
</div>

<%= link_to "New project", new_project_path %>
