<div id="<%= dom_id agreement %>">
  <p>
    <strong>Agreementnumber:</strong>
    <%= agreement.agreementNumber %>
  </p>

  <p>
    <strong>Articlenumber:</strong>
    <%= agreement.articleNumber %>
  </p>

</div>
