<h1>Editing agreement</h1>

<%= render "form", agreement: @agreement %>

<br>

<div>
  <%= link_to "Show this agreement", @agreement %> |
  <%= link_to "Back to agreements", agreements_path %>
</div>
