<div id="<%= dom_id transaction %>">
  <p>
    <strong>Agreementnumber:</strong>
    <%= transaction.agreementNumber %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
